/* Minimal dark scrollbar styling */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #444444;
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #333333 transparent;
  }